@import url("https://use.typekit.net/veu7fqg.css"); // "proxima-nova" font-family

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: 0;
}
