@import url("https://use.typekit.net/veu7fqg.css");

:root {
  --yellow: #ffe600;
  --blue: #3483fa;
  --light-blue: rgba(65, 137, 230, 0.15);
  --green: #00a650;
  --light-green: #00a6501a;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: 0;
}
