@use "../abstracts/variables" as *;

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: $yellow;
}

.logo {
  margin-left: 30px;
}

.logo__img {
  display: flex;
  width: 50px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  background-color: white;
  padding-left: 7px;
  border-radius: 3px;
  margin-left: 30px;
  height: 40px;
  box-shadow: -0.5px 1px 1px 0.3px rgba(0, 0, 0, 0.098);
}

.search-bar:focus-within {
  outline: 1.5px solid $blue;
}

.search-bar__input {
  flex: 1;
  font-size: 16px;
  width: 80%;
}

.search-bar__button {
  width: 40px;
  border-radius: 0px 3px 3px 0px;
  background-color: white;

  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 1.5px;
    transform: translateX(-12px);
    background-color: gray;
  }

  &:hover {
    cursor: pointer;
  }
}

.nav {
  flex: 1;
}

.nav__list {
  margin-right: 30px;
  justify-self: end;
  display: flex;
}

.nav__item {
  font-size: 15px;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__item--auth {
  display: none;
}

.nav__item--menu button {
  background-color: transparent;
}

@media (min-width: 800px) {
  .nav__item--auth {
    display: block;
  }

  .nav__item--menu {
    display: none;
  }

  .logo__img {
    width: 130px;
  }
}

@media (max-width: 800px) {
  .header {
    justify-content: space-between;
  }

  .logo {
    margin-left: 10px;
  }

  .search-bar {
    margin-left: 10px;
    flex: 1;
    flex-direction: row-reverse;
    padding-left: 0;
  }

  .search-bar__button {
    margin: 0;
    width: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .search-bar__button::before {
    display: none;
  }

  .search-bar__input {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .nav {
    flex: 0;
  }

  .nav__list {
    margin-right: 10px;
  }

  .fa-shopping-cart,
  .fa-bars {
    font-size: 20px;
  }

  .nav__item:first-of-type {
    margin-left: 10px;
  }

  .nav__item + .nav__item {
    margin-left: 10px;
  }
}
